@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .post-content p {
    @apply pb-4 text-lg;
  }
  .post-content a {
    @apply underline text-blue-400 hover:text-blue-600;
  }

  .post-content ul {
    @apply pb-4 list-disc list-inside  text-lg;
  }

  .post-content figure {
    @apply pb-4;
  }

  .post-content figure figcaption {
    @apply text-center py-2;
  }

  .post-content h2 {
    @apply text-2xl font-bold py-4;
  }
  .post-content h3 {
    @apply text-xl font-bold py-4;
  }
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

/* scrollbar.css */
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
/* Note: Firefox does not support customizing the scrollbar width */
/* You can use scrollbar-width property in future versions of Firefox */
body {
  scrollbar-color: #888 #f0f0f0;
}

/* For Edge and IE */
/* Note: Edge Legacy and IE have limited support for scrollbar styling */
/* These styles might not work in all versions of Edge and IE */
body {
  -ms-overflow-style: none; /* Hide the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

/* Add any other styles you need for your app */
